In [1]:
import pandas as pd
import os

#os - operating system dependent. to read/write files
#pd - pandas for data analysis/modeling

data_path = 'data/'
dataframes_path = 'dataframes/'

#get DataFrames
#the training set. Daily historical data from January 2013 to October 2015
sales    = pd.read_csv(os.path.join(data_path, 'sales_train.csv.gz'))
#supplemental information about the items/products
items           = pd.read_csv(os.path.join(data_path, 'items.csv'),encoding ='ISO-8859-1')
#supplemental information about the items categories.
item_categories = pd.read_csv(os.path.join(data_path, 'item_categories.csv'),encoding ='ISO-8859-1')
#supplemental information about the shops.
shops           = pd.read_csv(os.path.join(data_path, 'shops.csv'),encoding ='ISO-8859-1')
#the test set. You need to forecast the sales for these shops and products for November 2015.
test            = pd.read_csv(os.path.join(data_path, 'test.csv.gz'))

In [2]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [3]:
sales['date'] = pd.to_datetime(sales.date,format='%d.%m.%Y')
sales['date_block_num']=pd.to_numeric(sales.date_block_num, downcast='integer')
sales['shop_id']=pd.to_numeric(sales.shop_id, downcast='integer')
sales['item_id']=pd.to_numeric(sales.item_id, downcast='integer')
sales['item_price']=sales['item_price'].astype(float)
sales['item_cnt_day']=pd.to_numeric(sales.item_cnt_day, downcast='signed')

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              datetime64[ns]
date_block_num    int8
shop_id           int8
item_id           int16
item_price        float64
item_cnt_day      int16
dtypes: datetime64[ns](1), float64(1), int16(2), int8(2)
memory usage: 61.6 MB

In [5]:
sales.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00             1
1 2013-01-03               0       25     2552      899.00             1
2 2013-01-05               0       25     2552      899.00            -1
3 2013-01-06               0       25     2554     1709.05             1
4 2013-01-15               0       25     2555     1099.00             1

In [6]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

In [7]:
items['item_id']=pd.to_numeric(items.item_id, downcast='integer')

In [8]:
items['item_category_id']=pd.to_numeric(items.item_category_id, downcast='integer')

In [9]:
trainingDaySet=pd.merge(sales,items[['item_id','item_category_id']], how='left', on=['item_id'])

In [10]:
trainingDaySet.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,2013-01-02,0,59,22154,999.00,1,37
1,2013-01-03,0,25,2552,899.00,1,58
2,2013-01-05,0,25,2552,899.00,-1,58
3,2013-01-06,0,25,2554,1709.05,1,58
4,2013-01-15,0,25,2555,1099.00,1,56

In [11]:
trainingDaySet.shape

(2935849, 7)

In [12]:
trainingDaySet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2935849 entries, 0 to 2935848
Data columns (total 7 columns):
date                datetime64[ns]
date_block_num      int8
shop_id             int8
item_id             int16
item_price          float64
item_cnt_day        int16
item_category_id    int8
dtypes: datetime64[ns](1), float64(1), int16(2), int8(3)
memory usage: 86.8 MB

In [13]:
trainingDaySet.to_pickle(dataframes_path+'trainingDaySet.pickle')