In [1]:
import pandas as pd
import os
#os - operating system dependent. to read/write files
#pd - pandas for data analysis/modeling

data_path = 'data/'

items = pd.read_csv(os.path.join(data_path, 'items.csv'),encoding ='ISO-8859-1')

#get DataFrames
train_data = pd.read_pickle(os.path.join(data_path, 'new_sales_lag_after12.pickle')).dropna()


train_data.head()

,date_block_num,shop_id,item_id,target,item_category_id,item_cat_block_target_sum,item_cat_block_target_mean,item_block_target_sum,item_block_target_mean,shop_block_target_sum,...,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,target_lag_12,December,Newyear_Xmas,Valentine_MenDay,WomenDay,Easter_Labor
687724,12,2,32,1.0,40,22065.0,1.105627,84.0,1.105263,890.0,...,16.0,1.000000,2390.0,1.169848,1.0,0,1,0,0,0
687725,12,2,33,1.0,37,7511.0,1.017199,42.0,1.024390,890.0,...,24.0,1.090909,2390.0,1.169848,2.0,0,1,0,0,0
687726,12,2,99,1.0,37,7511.0,1.017199,26.0,1.040000,890.0,...,8.0,1.142857,2390.0,1.169848,1.0,0,1,0,0,0
687727,12,2,482,2.0,73,466.0,1.147783,119.0,1.265957,890.0,...,629.0,1.556931,2390.0,1.169848,11.0,0,1,0,0,0
687728,12,2,485,1.0,73,466.0,1.147783,129.0,1.303030,890.0,...,340.0,1.297710,2390.0,1.169848,3.0,0,1,0,0,0

In [2]:
test_data=pd.read_csv(os.path.join(data_path, 'test.csv.gz'))
x_train_data=train_data.copy().drop(['target','item_cat_block_target_sum',
       'item_cat_block_target_mean', 'item_block_target_sum',
       'item_block_target_mean', 'shop_block_target_sum',
       'shop_block_target_mean'],axis=1)
y_train_data=train_data.target
x_test_data=test_data.copy().drop('ID',axis=1)

In [3]:
x_test_data.shape

(214200, 2)

In [4]:
x_test_data['date_block_num']=34
x_test_data.head()

   shop_id  item_id  date_block_num
0        5     5037              34
1        5     5320              34
2        5     5233              34
3        5     5232              34
4        5     5268              34

In [5]:
# merge with category id
x_test_data =pd.merge(x_test_data,items[['item_id','item_category_id']],on=['item_id'],how='left')
x_test_data.head()

   shop_id  item_id  date_block_num  item_category_id
0        5     5037              34                19
1        5     5320              34                55
2        5     5233              34                19
3        5     5232              34                23
4        5     5268              34                20

In [6]:
x_test_data.columns

Index(['shop_id', 'item_id', 'date_block_num', 'item_category_id'], dtype='object')

In [7]:
temp_train_data=train_data.drop('item_id',axis=1).groupby(['date_block_num','shop_id','item_category_id'],as_index=False).first()
temp_train_data.tail()

,date_block_num,shop_id,item_category_id,target,item_cat_block_target_sum,item_cat_block_target_mean,item_block_target_sum,item_block_target_mean,shop_block_target_sum,shop_block_target_mean,...,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,target_lag_12,December,Newyear_Xmas,Valentine_MenDay,WomenDay,Easter_Labor
42894,33,59,72,1.0,1976.0,1.246688,9.0,1.285714,790.0,1.083676,...,5.0,1.000000,790.0,1.083676,1.0,0,0,0,0,0
42895,33,59,73,1.0,263.0,1.095833,9.0,1.000000,790.0,1.083676,...,30.0,1.034483,1446.0,1.088855,1.0,0,0,0,0,0
42896,33,59,75,1.0,929.0,1.364170,13.0,1.083333,790.0,1.083676,...,30.0,1.000000,790.0,1.083676,2.0,0,0,0,0,0
42897,33,59,79,13.0,521.0,1.459384,521.0,1.459384,790.0,1.083676,...,34.0,1.214286,790.0,1.083676,1.0,0,0,0,0,0
42898,33,59,83,6.0,348.0,1.487179,87.0,1.318182,790.0,1.083676,...,4078.0,4.698157,790.0,1.083676,19.0,0,0,0,0,0

In [8]:
Mforcast=34
lag_steps=[1,2,3,5,12]
new_cols=list(x_test_data.columns)
for lag in lag_steps:
    x_test_data = pd.merge(x_test_data,temp_train_data.loc[temp_train_data.date_block_num==Mforcast-lag,['shop_id','item_category_id','item_cat_block_target_sum',
       'item_cat_block_target_mean']], how='left', on=['shop_id','item_category_id']).fillna(0)
        
    x_test_data = pd.merge(x_test_data,train_data.loc[train_data.date_block_num==Mforcast-lag,['shop_id','item_id','item_block_target_sum',
       'item_block_target_mean', 'shop_block_target_sum',
       'shop_block_target_mean','target']], how='left', on=['shop_id','item_id']).fillna(0)
    
    lag_cols=['item_cat_block_target_sum_lag_'+str(lag),
       'item_cat_block_target_mean_lag_'+str(lag), 'item_block_target_sum_lag_'+str(lag),
       'item_block_target_mean_lag_'+str(lag), 'shop_block_target_sum_lag_'+str(lag),
       'shop_block_target_mean_lag_'+str(lag),'target_lag_'+str(lag)]
    new_cols=new_cols+lag_cols
    x_test_data.columns = new_cols

In [9]:
x_test_data.tail()

,shop_id,item_id,date_block_num,item_category_id,item_cat_block_target_sum_lag_1,item_cat_block_target_mean_lag_1,item_block_target_sum_lag_1,item_block_target_mean_lag_1,shop_block_target_sum_lag_1,shop_block_target_mean_lag_1,...,shop_block_target_sum_lag_5,shop_block_target_mean_lag_5,target_lag_5,item_cat_block_target_sum_lag_12,item_cat_block_target_mean_lag_12,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,target_lag_12
214195,45,18454,34,55,5808.0,1.022715,2.0,1.0,702.0,1.125,...,0.0,0.0,0.0,9809.0,1.041406,0.0,0.0,0.0,0.0,0.0
214196,45,16188,34,64,870.0,1.012806,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,1268.0,1.035102,0.0,0.0,0.0,0.0,0.0
214197,45,15757,34,55,5808.0,1.022715,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,9809.0,1.041406,0.0,0.0,0.0,0.0,0.0
214198,45,19648,34,40,7680.0,1.055960,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,14815.0,1.090300,0.0,0.0,0.0,0.0,0.0
214199,45,969,34,37,4061.0,1.105034,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,5185.0,1.076620,0.0,0.0,0.0,0.0,0.0

In [10]:
x_test_data.shape

(214200, 39)

In [11]:
temp=x_test_data
x_test_data['December'] = temp.date_block_num.apply(lambda x: 1 if x in [23] else 0)
x_test_data['Newyear_Xmas'] = temp.date_block_num.apply(lambda x: 1 if x in [12,24] else 0)
x_test_data['Valentine_MenDay'] = temp.date_block_num.apply(lambda x: 1 if x in [13,25] else 0)
x_test_data['WomenDay'] = temp.date_block_num.apply(lambda x: 1 if x in [14,26] else 0)
x_test_data['Easter_Labor'] = temp.date_block_num.apply(lambda x: 1 if x in [15,27] else 0)
x_test_data.tail()

,shop_id,item_id,date_block_num,item_category_id,item_cat_block_target_sum_lag_1,item_cat_block_target_mean_lag_1,item_block_target_sum_lag_1,item_block_target_mean_lag_1,shop_block_target_sum_lag_1,shop_block_target_mean_lag_1,...,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,target_lag_12,December,Newyear_Xmas,Valentine_MenDay,WomenDay,Easter_Labor
214195,45,18454,34,55,5808.0,1.022715,2.0,1.0,702.0,1.125,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
214196,45,16188,34,64,870.0,1.012806,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
214197,45,15757,34,55,5808.0,1.022715,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
214198,45,19648,34,40,7680.0,1.055960,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
214199,45,969,34,37,4061.0,1.105034,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [12]:
x_train_data.tail()

,date_block_num,shop_id,item_id,item_category_id,item_cat_block_target_sum_lag_1,item_cat_block_target_mean_lag_1,item_block_target_sum_lag_1,item_block_target_mean_lag_1,shop_block_target_sum_lag_1,shop_block_target_mean_lag_1,...,item_block_target_sum_lag_12,item_block_target_mean_lag_12,shop_block_target_sum_lag_12,shop_block_target_mean_lag_12,target_lag_12,December,Newyear_Xmas,Valentine_MenDay,WomenDay,Easter_Labor
1609119,33,59,22087,83,7680.0,1.055960,8.0,1.000000,790.0,1.083676,...,4078.0,4.698157,790.0,1.083676,19.0,0,0,0,0,0
1609120,33,59,22088,83,348.0,1.487179,87.0,1.318182,790.0,1.083676,...,17.0,1.000000,790.0,1.083676,1.0,0,0,0,0,0
1609121,33,59,22091,83,348.0,1.487179,185.0,1.697248,790.0,1.083676,...,26.0,1.000000,790.0,1.083676,1.0,0,0,0,0,0
1609122,33,59,22100,42,348.0,1.487179,30.0,1.111111,790.0,1.083676,...,47.0,1.068182,790.0,1.083676,2.0,0,0,0,0,0
1609123,33,59,22102,42,934.0,1.580372,158.0,1.903614,790.0,1.083676,...,12.0,1.000000,790.0,1.083676,1.0,0,0,0,0,0

In [23]:
#x_validation_data=x_train_data.loc(x_train_data.date_block_num==33)

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [20]:
x_test_data.to_pickle(data_path+'x_test_data.pickle')
x_train_data.to_pickle(data_path+'x_train_data.pickle')
y_train_data.to_pickle(data_path+'y_train_data.pickle')

x_test_data.to_csv(data_path+'x_test_data.csv')
x_train_data.to_csv(data_path+'x_train_data.csv')
y_train_data.to_csv(data_path+'y_train_data.csv')